{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
{% endif %}

<h1>Task List</h1> 

<a href="{% url 'create-task'%}">add create</a>

<table>
    <tr>
        <th>Title</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td><a href="{% url 'task' task.id %}">Detail</a></td>
            <td><a href="{% url 'edit-task' task.id %}">Edit</a></td>
            <td><a href="{% url 'delete-task' task.id %}">Delete</a></td>
        </tr>
    {% endfor %}
</table>